#maincontent {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 202, 105);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

#maincontent h1, button {
    color: #fff;
}

.programs {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    gap: 1rem;
}

.btn {
    border-radius: .7rem;
    width: 10rem;
    height: 3rem;
    border: 0;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #2c2c2c;
    cursor: pointer;
    transition: .2s;
  }

.btn:hover {
    background-color: #393939;
    transform: translateY(5px);
}

.homeBTN {
    background-color: #fc5436;
}

.homeBTN:hover {
    background-color: #aa3824;
}